@import './common.scss';
.index_tips{
    padding: .7rem 0 .5rem;
    font-size: .7rem;
    .tip_text{
        display: inline-block;
        padding-left: .75rem;
        font-size: .7rem;
        color: #985ec9;
        padding-right: .55rem;
        background: url(../img/require.png) no-repeat 100%;
        background-size: .35rem .35rem;
    }
}
.input_container {
    padding-left: .75rem;
    background-color: #fff;
    border-bottom: .05rem solid #ebebeb;
    box-sizing: border-box;
    font-size: 0;
    label{
        font-size: .7rem;
        color: #333;
        height: 2.45rem;
        line-height: 2.45rem;
        width: 28%;
    }
    input{
        font-size: .8rem;
        color: #333;
        width: 70%;
        border: none;
        outline: none;
    }
}
.choose_products{
    position: relative;
    background-color: #fff;
    padding-top: 1px;
    .link_choose{
        font-size: .8rem;
        color: #c2c2c2;
        height: 2.45rem;
        line-height: 2.45rem;
        display: block;
        text-align: center;
    }
    .show_icon {
        background: url(../img/add.png) no-repeat;
        position: absolute;
        width: .9rem;
        height: .9rem;
        top: .7rem;
        right: 50%;
        margin-left:-0.45rem;
        background-size: 100% 100%;
    }
    .products_list{
        margin-top: 2rem;
        padding: .125rem 0;
        li{
            padding: .4rem .5rem;
            margin: .25rem 0;
            background-color: #f4eff9;
            border-radius: .1rem;
            font-size: 0;
            width: 100%;
        }
        .product_style{
            font-size: .8rem;
            line-height: .8rem;
            display: inline-block;
            vertical-align: middle;
        }
        .x{
            margin: 0 2rem;
        }
    }
}
.submit{
    margin: 0 .75rem;
    height: 2.45rem;
    font-size: .8rem;
    color: #fff;
    text-align: center;
    line-height: 2.45rem;
    background-color: #985ec9;
    border-radius: .25rem;
}