@font-face {
    font-family: 'iconfont';  /* project id 114420 */
    src: url('http://at.alicdn.com/t/font_114420_26gojwbak0oa8aor.eot');
    src: url('http://at.alicdn.com/t/font_114420_26gojwbak0oa8aor.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_114420_26gojwbak0oa8aor.woff') format('woff'),
    url('http://at.alicdn.com/t/font_114420_26gojwbak0oa8aor.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_114420_26gojwbak0oa8aor.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
