.nav{
    ul {
        display: flex;
        background: #fff;
        li{
            width: 33.333%;
            text-align: center;
            line-height: 2.2rem;
            position: relative;
            span{
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -.85rem; 
                width: 1px;
                height: 1.7rem;
                background: #f2f2f2;
            }
            p{
                display: inline-block;
                line-height: 2.2rem;
            }
        }
        .item_choose{
            p{
                border-bottom: 2px solid #985ec9;
            }
        }
    }
}
.list_item {
    background: #fff;
    margin-top: .5rem;
    .list_top {
        font-size: .65rem;
        color: #959595;
        height: 1.95rem;
        line-height: 1.95rem;
        border-bottom: 1px solid #ebebeb;
        white-space: pre;
        display: flex;
        justify-content: space-between;
        padding: 0 .5rem;
        .status {
            color: red;
        }
    }
    .list_middle {
        border-bottom: 1px solid #ebebeb;
        padding: .25rem 0.5rem;
        .list_order {
            padding: .25rem 0;
            font-size: .65rem;
            span{
                color: #333;
                font-size: .65rem;
                text-align: left;
                vertical-align: middle
            }
        }
    }
    .failed_reason {
        font-size: .65rem;
        line-height: .9rem;
        padding: .625rem 0.5rem;
    }
}